alabaster==0.7.12
Babel==2.6.0
certifi==2018.4.16
chardet==3.0.4
CommonMark==0.5.4
docutils==0.14
et-xmlfile==1.0.1
feedparser==5.2.1
google-api-python-client==1.4.1
httplib2==0.18.0
idna==2.7
imagesize==1.1.0
jdcal==1.4
Jinja2==2.10
MarkupSafe==1.1.0
oauth2client==4.1.2
openpyxl==2.5.2
packaging==18.0
Pillow==5.1.0
psycopg2==2.7.4
pyasn1==0.4.3
pyasn1-modules==0.2.1
pydotplus==2.0.2
Pygments==2.3.0
pyparsing==2.2.0
pytz==2018.3
recommonmark==0.4.0
rsa==3.4.2
simplejson==3.14.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
uritemplate==3.0.0
urllib3==1.23
uuid==1.30
